<app-admin-header></app-admin-header>

<div style="text-align: center;font-size:30px;color:goldenrod;"><u>𝐮𝐩𝐝𝐚𝐭𝐞 𝐮𝐬𝐞𝐫</u></div><br><br>
<div id="updateuser" ><form [formGroup]="updateForm">
    <mat-form-field appearance="fill">
        <mat-label><b>firstname</b></mat-label>
          <input matInput
                  type="text"
                  formControlName = "Firstname" id="firstname">
     </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 5%;">
        <mat-label><b>lastname</b></mat-label>
          <input matInput
                  type="text"
                  formControlName = "Lastname" id="lastname">
     </mat-form-field>
    <br>    
    <mat-form-field appearance="fill">
      <mat-label><b>date of birth</b></mat-label>
        <input matInput
                type="text"
                formControlName = "DateofBirth" id="DateofBirth">
   </mat-form-field>
  <mat-form-field appearance="fill" style="margin-left: 5%;">
    <mat-label><b>gender</b></mat-label>
      <input matInput
              type="text"
              formControlName = "Gender" id="Gender">
 </mat-form-field>
<br>
  <mat-form-field appearance="fill">
      <mat-label><b>email</b></mat-label>
        <input matInput
                type="email"
                formControlName = "email">
                <mat-hint>email-hint:abc@gmail.com</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill"style="margin-left: 5%;">
    <mat-label><b>phone</b></mat-label>
      <input matInput
              type="number"
              formControlName = "phoneNo">
    </mat-form-field><br>
    <br>
    <strong>1 means approved</strong> <strong>0 means not approved</strong><br>
    <small>Update the passport values only <strong>1 'or' 0</strong></small><br>
    <br>
    <mat-form-field appearance="fill"style="margin-left: 4%;">
      <mat-label><b>passportStatus</b></mat-label>
        <input matInput
                type="number"
                formControlName = "passportStatus">
      </mat-form-field> <br><br>
    <button mat-raised-button (click)="updateUser()" color="primary" style="margin-right: 45%;float: right;">update user</button>
    <br>
</form>
</div><br>
