<app-header></app-header><br>
<div style="text-align: center;font-size:30px;"><u>𝐩𝐚𝐬𝐬𝐩𝐨𝐫𝐭 𝐬𝐭𝐚𝐭𝐮𝐬</u></div><br><br>
<table border="2px" align="center" id="table">
    <tr>
        <td><b>Firstname</b></td>
        <td><b>email</b></td>
        <td><b>your passport status</b><br><small  align="center" >if the status is '0' not accepted wait for admin approval.'1' accepted.</small></td>
    </tr>
    <tr *ngFor="let user of data1">
        <td>{{user.Firstname}}</td>
        <td>{{user.email}}</td>
        <td>{{pStatus}}</td>
    </tr>
</table>
