<app-admin-header></app-admin-header>
<div id="adduser"><form [formGroup]="registerForm">
    <mat-form-field appearance="fill">
        <mat-label><b>firstname</b></mat-label>
          <input matInput
                  type="text"
                  formControlName = "Firstname" id="firstname">
     </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label><b>lastname</b></mat-label>
          <input matInput
                  type="text"
                  formControlName = "Lastname" id="lastname">
     </mat-form-field>
    <br>    
    <mat-form-field appearance="fill">
      <mat-label><b>date of birth</b></mat-label>
        <input matInput
                type="date"
                formControlName = "DateofBirth" id="DateofBirth">
   </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label><b>gender</b></mat-label>
      <input matInput
              type="text"
              formControlName = "Gender" id="Gender">
 </mat-form-field>
<br>
    <mat-form-field appearance="fill">
        <mat-label><b>password</b></mat-label>
          <input matInput
                  type="password"
                  formControlName = "password">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label><b>email</b></mat-label>
        <input matInput
                type="email"
                formControlName = "email">
                <mat-hint>email-hint:abc@gmail.com</mat-hint>
  </mat-form-field> <br>
  <mat-form-field appearance="fill">
    <mat-label><b>phone</b></mat-label>
      <input matInput
              type="number"
              formControlName = "phoneNo">
    </mat-form-field> <br>
    
      <button mat-raised-button (click)="addUser()" color="primary">add new user</button>
    <br>
</form>
</div><br>