<nav class="navbar navbar-dark bg-primary" id="header"><br>
  <b><span style="font-size: 4rem;color: rgb(84, 29, 224);">XYZ</span><span style="font-size: 2.7rem;color: rgb(226, 173, 67);">passport</span></b>
  <div id="x">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" id="menu">login</button>
      <mat-menu #menu="matMenu">
        <button routerLink="/login" mat-menu-item> user login</button>
        <button routerLink="/adminlogin" mat-menu-item>admin login</button>
      </mat-menu>
      <button mat-raised-button color="primary" routerLink="/register" class="btn btn-primary">register</button>
    </div>
</nav>
<div id="myCarousel" class="carousel slide" data-interval="1300" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../../assets/30.jpg" alt="flight1" style="width:100%" class="imgx">
      </div>
      <div class="item">
        <img src="../../../assets/40.jpg" alt="flight1" style="width:100%" class="imgx">
      </div>
      <div class="item">
        <img src="../../../assets/20.jpg" alt="flight1" style="width:100%" class="imgx">
      </div>
      <div class="item">
        <img src="../../../assets/1a.jpg" alt="flight1" style="width:100%" class="imgx">
      </div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
</div><br>
<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/card3.jpg" class="cardsof" alt="" />
      </figure>
      <div class="article-body">
        <h2>Fill the application</h2>
        <p>
          How to fill Passport Application Form Online Click and "Apply for Fresh Passport",Enter the information.        </p>
        <a href="/fillform" class="read-more">
          <b>fill application </b><span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/card4.jpg" class="cardsoff" alt="" />
      </figure>
      <div class="article-body">
        <h2>register</h2>
        <p>
          Similarly, sigup in and register are synonymous with each other and are used basically for the same purpose        </p>
        <a href="/register" class="read-more">
          <b>register</b><span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/card.jpg" class="cardsof" alt="" />
      </figure>
      <div class="article-body">
        <h2>view appliation status</h2>
        <p>
          Once submitted and the appointment is scheduled, you cannot view the submitted application. Only the confirmation page.        </p>
        <a href="/passportstatus" class="read-more">
          <b>view status</b><span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>
