<nav class="navbar navbar-dark" id="header"><br>
  <b><span style="font-size: 4rem;color: rgb(84, 29, 224);">XYZ</span><span style="font-size: 2.7rem;color: rgb(226, 173, 67);">passport</span></b>
</nav>
<div id="register"><br>
    <h1><b>𝓡𝓮𝓰𝓲𝓼𝓽𝓻𝓪𝓽𝓲𝓸𝓷</b></h1>
    <form [formGroup]="registerForm">
    <mat-form-field appearance="fill">
        <mat-label><b>firstname</b></mat-label>
          <input matInput
                  type="text"
                  formControlName = "Firstname" id="firstname">
     </mat-form-field> <small>{{NameError()}}</small>
    <br>
    <mat-form-field appearance="fill">
        <mat-label><b>lastname</b></mat-label>
          <input matInput
                  type="text"
                  formControlName = "Lastname" id="lastname">
     </mat-form-field> <small>{{NameError()}}</small>
    <br>    
    <mat-form-field appearance="fill">
      <mat-label><b>date of birth</b></mat-label>
        <input matInput
                type="date"
                formControlName = "DateofBirth" id="DateofBirth">
   </mat-form-field> <small>{{dobError()}}</small>
  <br>
  <mat-form-field appearance="fill">
    <mat-label><b>gender</b></mat-label>
      <input matInput
              type="text"
              formControlName = "Gender" id="Gender">
 </mat-form-field> <small>{{genderError()}}</small>
<br>
    <mat-form-field appearance="fill">
        <mat-label><b>password</b></mat-label>
          <input matInput
                  type="password"
                  formControlName = "password">
    </mat-form-field>
    <small>{{PasswordError()}}</small><br>
    <mat-form-field appearance="fill">
      <mat-label><b>email</b></mat-label>
        <input matInput
                type="email"
                formControlName = "email">
                <mat-hint>email-hint:abc@gmail.com</mat-hint>
  </mat-form-field><small>{{emailError()}}</small><br>
  <mat-form-field appearance="fill">
    <mat-label><b>phone</b></mat-label>
      <input matInput
              type="number"
              formControlName = "phoneNo">
    </mat-form-field><small>{{phoneError()}}</small><br>
    
      <button (click)="register()" mat-raised-button color="primary">register</button>
      <br><small  id="dont">already having account</small>
      <button routerLink="/login" mat-button color="primary">login</button>
    <br>
  </form>
</div><br>