<app-admin-header></app-admin-header>
<table border="2px" align="center" id="table">
    <tr>
        <td><b>emailID</b></td>
        <td><b>firstName</b></td>
        <td><b>lastName</b></td>
        <td><b>date of birth</b></td>
        <td><b>PINCode</b></td>
        <td><b>delete</b></td>
    </tr>
    <tr *ngFor="let application of data1">
        <td>{{application.emailID}}</td>
        <td>{{application.firstName}}</td>
        <td>{{application.lastName}}</td>
        <td>{{application.DOB}}</td>
        <td>{{application.PINCode}}</td>
        <td><img src="../../../assets/icons8-delete.gif" (click)="deleteApplication(application._id)" alt=""></td>
    </tr>
</table>