<app-admin-header></app-admin-header>
<div id="updateschedule">
    <div style="text-align: center;font-size:30px;color:goldenrod;"><u>𝐮𝐩𝐝𝐚𝐭𝐞 𝐬𝐜𝐡𝐞𝐝𝐮𝐥𝐞</u></div><br><br>
    <form [formGroup]="updateScheduleForm">
        <b>Month id  : </b><mat-form-field appearance="fill">
            <mat-label><b>Month id</b></mat-label>
            <input matInput type="text" formControlName = "MonthID" id="MonthID" required >
        </mat-form-field><br>
        <b>MonthName : </b><mat-form-field appearance="fill">
            <mat-label><b>Month Name</b></mat-label>
            <input matInput type="month" formControlName = "MonthName" id="MonthName" required>
        </mat-form-field><br>
        <b>AvailableDays : </b><mat-form-field appearance="fill">
            <mat-label><b>AvailableDays</b></mat-label>
            <input matInput type="text" name="Array[]" formControlName = "AvailableDays" id="AvailableDays" required>
        </mat-form-field><br>
        <b>TimeSlots : </b><mat-form-field appearance="fill">
            <mat-label><b>TimeSlots</b></mat-label>
            <input matInput type="time" formControlName = "TimeSlots" id="TimeSlots" required>
        </mat-form-field><br>
    </form>
    <button type="button" (click)="UpdateSchedule()" class="btn btn-primary" id="subbutton">update Schedule</button>
</div><br><br><br><br><br>