<app-header></app-header>
<div style="text-align: center;font-size:30px;"><u>𝐀𝐯𝐚𝐢𝐥𝐚𝐛𝐥𝐞 𝐬𝐜𝐡𝐞𝐝𝐮𝐥𝐞</u></div><br><br>
<table border="2px" align="center" id="table">
    <tr>
        <td><b>Month Id</b></td>
        <td><b>MonthName</b></td>
        <td><b>AvailableDays</b></td>
        <td><b>Available TimeSlots</b></td>
        <td><b>book schedule</b></td>
    </tr>
    <tr *ngFor="let vari of data1">
        <td>{{vari.MonthID}}</td>
        <td>{{vari.MonthName}}</td>
        <td>{{vari.AvailableDays}}</td>
        <td>{{vari.TimeSlots}}</td>
        <td><img (click)="bookSchedule()" src="../../../assets/icons8-schedules-50.png" alt=""></td>
    </tr>
</table>
<br>