<app-admin-header></app-admin-header><br>
<button type="button" routerLink="/adduser" style="width: 70%;margin-left: 15%;" class="btn btn-primary btn-lg btn-block">add user</button><br>
<p style="width: 70%;margin-left: 35%;color: black;" >update the passport status by using the update button in the below</p>
<br>
<table border="2px" align="center" id="table">
    <tr>
        <td><b>Firstname</b></td>
        <td><b>Lastname</b></td>
        <td><b>DateofBirth</b></td>
        <td><b>email</b></td>
        <td><b>Passport status</b></td>
        <td><b>delete</b></td>
        <td><b>update</b></td>
    </tr>
    <tr *ngFor="let user of data1">
        <td>{{user.Firstname}}</td>
        <td>{{user.Lastname}}</td>
        <td>{{user.DateofBirth}}</td>
        <td>{{user.email}}</td>
        <td>{{user.passportStatus}}</td>
        <td><img src="../../../assets/icons8-delete.gif" (click)="deleteUser(user._id)" alt=""></td>
        <td><img src="../../../assets/icons8-edit.gif" (click)="updateUser(user._id)" alt=""></td>
    </tr>
</table>
<br>