#table{
    width: 80%;
}
td{
    text-align: center;
    margin: 1%;
    padding: 15px;
}
b{
    size: 30%;
    color: rgb(140, 9, 206);
}
td{
    color: rgb(254, 0, 0);
}
small{
    text-align: center;
}