<app-admin-header></app-admin-header><br>
<button type="button" routerLink="/addoffice" style="width: 70%;margin-left: 15%;" class="btn btn-primary btn-lg btn-block">add office</button><br>
<table border="2px" align="center" id="table">
    <tr>
        <td><b>OfficeName</b></td>
        <td><b>Jurisdiction</b></td>
        <td><b>Adress</b></td>
        <td><b>PhoneNumber</b></td>
        <td><b>delete</b></td>
        <td><b>update</b></td>
    </tr>
    <tr *ngFor="let office of data1">
        <td>{{office.OfficeName}}</td>
        <td>{{office.Jurisdiction}}</td>
        <td>{{office.Adress}}</td>
        <td>{{office.PhoneNumber}}</td>
        <td><img src="../../../assets/icons8-delete.gif" (click)="deleteOffice(office._id)" alt=""></td>
        <td><img src="../../../assets/icons8-edit.gif" (click)="updateOffice(office._id)" alt=""></td>
    </tr>
</table>
<br>