<app-header></app-header>
<div style="text-align: center;font-size:30px;"><u>𝐀𝐯𝐚𝐢𝐥𝐚𝐛𝐥𝐞 𝐩𝐚𝐬𝐬𝐩𝐨𝐫𝐭 𝐨𝐟𝐟𝐢𝐜𝐞𝐬</u></div><br><br>
    <table border="2px" align="center" id="table">
        <tr>
            <td><b>Office name</b></td>
            <td><b>Jurisdiction</b></td>
            <td><b>Adress</b></td>
            <td><b>Phone Number</b></td>
        </tr>
        <tr *ngFor="let vari of data1">
            <td>{{vari.OfficeName}}</td>
            <td>{{vari.Jurisdiction}}</td>
            <td>{{vari.Adress}}</td>
            <td>{{vari.PhoneNumber}}</td>
        </tr>
    </table>
<br>