<app-admin-header></app-admin-header>
<div id="updateOffice">
<form [formGroup]="updateOfficeForm">
    <b>office id : </b><mat-form-field appearance="fill">
        <mat-label><b>Office id</b></mat-label>
        <input matInput type="text" formControlName = "OfficeId" id="OfficeId">
    </mat-form-field>
    <b>officename : </b><mat-form-field appearance="fill">
        <mat-label><b>Ofiice name</b></mat-label>
        <input matInput type="text" formControlName = "OfficeName" id="OfficeName" required>
    </mat-form-field><br>
    <b>Jurisdiction : </b><mat-form-field appearance="fill">
        <mat-label><b>Jurisdiction</b></mat-label>
        <input matInput type="text" formControlName = "Jurisdiction" id="Jurisdiction" required>
    </mat-form-field>
    <b>Adress : </b><mat-form-field appearance="fill">
        <mat-label><b>Adress</b></mat-label>
        <input matInput type="text" formControlName = "Adress" id="Adress" required>
    </mat-form-field><br>
    <b>phone Number : </b><mat-form-field appearance="fill">
        <mat-label><b>Phone number</b></mat-label>
        <input matInput type="text" formControlName = "PhoneNumber" id="PhoneNumber" required>
    </mat-form-field><br>
    <button mat-raised-button (click)="updateOffice()" color="primary" style="margin-right: 45%;float: right;">update Office</button>
</form>
</div>