<nav class="navbar navbar-dark bg-primary" id="header"> <br>
    <b><span style="font-size: 4rem;color: rgb(84, 29, 224);">XYZ</span><span style="font-size: 2.7rem;color: rgb(226, 173, 67);">passport</span></b>
    <strong><a routerLink="/admindashboard"><i class="fa-solid fa-house-user"></i>Home</a></strong>
    <strong><a routerLink="/viewusers"><i class="fa-solid fa-house-user"></i>Users</a></strong>
    <strong><a routerLink="/viewapplicationfilled"><i class="fa-solid fa-house-user"></i>applications</a></strong>
    <strong><a routerLink="/viewoffices"><i class="fa-solid fa-house-user"></i>offices</a></strong>
    <strong><a routerLink="/viewschedules"><i class="fa-solid fa-house-user"></i>schedule</a></strong>
    <button mat-flat-button (click)="logout()" color="warn">logout</button>
</nav>