<app-admin-header></app-admin-header>
<div>
    <h3>𝐀𝐝𝐝 𝐨𝐟𝐟𝐢𝐜𝐞</h3>
    <form [formGroup]="addofficeForm">
        <b>office id  : </b><mat-form-field appearance="fill">
            <mat-label><b>Office id</b></mat-label>
            <input matInput type="text" formControlName = "OfficeId" id="OfficeId" required >
        </mat-form-field><br>
        <b>Office Name : </b><mat-form-field appearance="fill">
            <mat-label><b>Ofiice name</b></mat-label>
            <input matInput type="text" formControlName = "OfficeName" id="OfficeName" required>
        </mat-form-field><br>
        <b>Jurisdiction : </b><mat-form-field appearance="fill">
            <mat-label><b>Jurisdiction</b></mat-label>
            <input matInput type="text" formControlName = "Jurisdiction" id="Jurisdiction" required>
        </mat-form-field><br>
        <b>Adress : </b><mat-form-field appearance="fill">
            <mat-label><b>Adress</b></mat-label>
            <input matInput type="text" formControlName = "Adress" id="Adress" required>
        </mat-form-field><br>
        <b>phone Number : </b><mat-form-field appearance="fill">
            <mat-label><b>Phone number</b></mat-label>
            <input matInput type="text" formControlName = "PhoneNumber" id="PhoneNumber" required>
        </mat-form-field><br>
    </form>
    <button type="button" (click)="addOffice()" class="btn btn-primary" id="subbutton">add office</button>
</div>