<nav class="navbar navbar-dark bg-primary" id="header"> <br>
    <b><span style="font-size: 4rem;color: rgb(84, 29, 224);">XYZ</span><span style="font-size: 2.7rem;color: rgb(226, 173, 67);">passport</span></b>
    <strong><a routerLink="/dashboard"><img routerLink="/dashboard" src="../../../assets/dashboard.gif" alt="">Dashboard</a></strong>
    <strong><a routerLink="/fillform"><i class="fa-solid fa-house-user"></i>ApplicationForm</a></strong>
    <strong><a routerLink="/viewapplication"><i class="fa-solid fa-house-user"></i>ViewApplication</a></strong>
    <strong><a routerLink="/viewpassportoffice"><i class="fa-solid fa-house-user"></i>passportOffice</a></strong>
    <strong><a routerLink="/bookschedule"><i class="fa-solid fa-house-user"></i>view/book schedule</a></strong>
    <strong><a routerLink="/passportstatus"><i class="fa-solid fa-house-user"></i>PassportStatus</a></strong>
    <button mat-flat-button (click)="logout()" color="warn">logout</button>
</nav>