nav{
    background: rgb(11, 11, 11);
    width: auto;
    height: 85px;
    position: relative;
    text-align:start;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
}
button{
    float: right;
    size: 20%;
    margin-right: 20px;
}
