<app-admin-header></app-admin-header>
<br>
<button type="button" routerLink="/addschedule" style="width: 70%;margin-left: 15%;" class="btn btn-primary btn-lg btn-block">add schedule</button><br>
<table border="2px" align="center" id="table">
    <tr>
        <td><b>Month Id</b></td>
        <td><b>MonthName</b></td>
        <td><b>AvailableDays</b></td>
        <td><b>Available TimeSlots</b></td>
        <td><b>delete</b></td>
        <td><b>update</b></td>
    </tr>
    <tr *ngFor="let month of data1">
        <td>{{month.MonthID}}</td>
        <td>{{month.MonthName}}</td>
        <td>{{month.AvailableDays}}</td>
        <td>{{month.TimeSlots}}</td>
        <td><img src="../../../assets/icons8-delete.gif" (click)="deleteSchedule(month._id)" alt=""></td>
        <td><img src="../../../assets/icons8-edit.gif" (click)="updateSchedule(month._id)" alt=""></td>
    </tr>
</table>
<br>