<app-header></app-header><br>
<br>

<div style="text-align: center;font-size:30px;"><u>𝐄𝐩𝐚𝐬𝐬𝐩𝐨𝐫𝐭 𝐟𝐢𝐥𝐥𝐞𝐝 𝐚𝐩𝐩𝐥𝐥𝐢𝐜𝐚𝐭𝐢𝐨𝐧 𝐟𝐨𝐫𝐦</u></div><br><br>
<div *ngFor="let vari of data1" style="width: 70%;margin-top:5px;margin-left:15%;">
    
    <div class="d-inline"><b>Application details</b></div><br>
    <span class="nameHead">firstname : </span> <span class="nameValues">{{vari.firstName}}</span><br><br>
    <span class="nameHead">lastname : </span> <span class="nameValues">{{vari.lastName}}</span><br><br>
    <span class="nameHead">date of birth : </span> <span class="nameValues">{{vari.DOB}}</span><br><br>
    <span class="nameHead">place Of Birth : </span> <span class="nameValues">{{vari.placeOfBirth}}</span><br><br>
    <span class="nameHead">gender : </span> <span class="nameValues">{{vari.gender}}</span><br><br>
    <span class="nameHead">state : </span> <span class="nameValues">{{vari.state}}</span><br><br>
    <span class="nameHead">district : </span> <span class="nameValues">{{vari.district}}</span><br><br>
    <span class="nameHead">maritalStatus : </span> <span class="nameValues">{{vari.maritalStatus}}</span><br><br>
    <span class="nameHead">Pancard No : </span> <span class="nameValues">{{vari.PAN}}</span><br><br>
    <span class="nameHead">highestEducation : </span> <span class="nameValues">{{vari.highestEducation}}</span><br><br>
    <span class="nameHead">employmentType : </span> <span class="nameValues">{{vari.employmentType}}</span><br><br>
    <br><mat-divider></mat-divider><br><br>
    <div class="d-inline"><b>family details</b></div><br><br>
    <span class="nameHead">fathersname : </span> <span class="nameValues">{{vari.fathersName}}</span><br><br>
    <span class="nameHead">mothersname : </span> <span class="nameValues">{{vari.mothersName}}</span><br><br>
    <mat-divider></mat-divider><br><br>
    <div class="d-inline"><b>Address</b></div><br><br>
    <span class="nameHead">houseNo : </span> <span class="nameValues">{{vari.houseNo}}</span><br><br>
    <span class="nameHead">streetname : </span> <span class="nameValues">{{vari.streetName}}</span><br><br>
    <span class="nameHead">city : </span> <span class="nameValues">{{vari.city}}</span><br><br>
    <span class="nameHead">state1 : </span> <span class="nameValues">{{vari.state1}}</span><br><br>
    <span class="nameHead">district1 : </span> <span class="nameValues">{{vari.district1}}</span><br><br>
    <span class="nameHead">pincode : </span> <span class="nameValues">{{vari.PINCode}}</span><br><br>
    <span class="nameHead">telephone number : </span> <span class="nameValues">{{vari.telephoneNumber}}</span><br><br>
    <span class="nameHead">emailid : </span> <span class="nameValues">{{vari.emailID}}</span><br><br>
    <mat-divider></mat-divider><br><br>
    <div class="d-inline"><b>Reference details</b></div><br><br>
    <span class="nameHead">referencename : </span> <span class="nameValues">{{vari.referenceName}}</span><br><br>
    <span class="nameHead">address : </span> <span class="nameValues">{{vari.address}}</span><br><br>
    <span class="nameHead">telephone nNumber : </span> <span class="nameValues">{{vari.RtelephoneNumber}}</span><br><br>
    <mat-divider></mat-divider><br>
    <br>
    <button mat-flat-button onclick="window.print();return false;" style="float:right;" color="warn">print Application</button>
</div>