.nameHead{
    font-size: 20px;
    font: weight 5px;;
    margin-left: 25px;
}
.nameValues{
    font-size: 16px;
    font-weight:lighter;
}
.d-inline{
    font-size: 20px;
    text-decoration: underline;
    color: firebrick;
}