<app-header></app-header>
<br><br>
<div style="text-align: center;font-size:30px;"><u>𝐞𝐩𝐚𝐬𝐬𝐩𝐨𝐫𝐭 𝐚𝐩𝐩𝐥𝐢𝐜𝐭𝐢𝐨𝐧</u></div><br><br>
<div id="applicationform">
    <ul>
    <form [formGroup]="applicationForm">
        <li><h3><b>Application details</b></h3></li>
        <mat-divider></mat-divider>
        <br>
        <b>Firstname : </b><mat-form-field appearance="fill">
            <mat-label><b>Firstname</b></mat-label>
            <input matInput type="text" formControlName = "firstName" id="Firstname">
        </mat-form-field>
        <b>Lastname : </b><mat-form-field appearance="fill">
                    <mat-label><b>Lastname</b></mat-label>
                    <input matInput type="text" formControlName = "lastName" id="Lastname">
                </mat-form-field>
        <b>Dateofbirth : </b><mat-form-field appearance="fill">
                    <mat-label><b>Dateofbirth</b></mat-label>
                    <input matInput type="date" formControlName = "DOB" id="DOB">
                </mat-form-field> <br>
        <b>birth-place : </b><mat-form-field appearance="fill">
                    <mat-label><b>birthplace</b></mat-label>
                    <input matInput type="text" formControlName = "placeOfBirth" id="placeOfBirth">
                </mat-form-field>
        <b>Gender : </b><mat-form-field appearance="fill">
                    <mat-label><b>Gender</b></mat-label>
                    <input matInput type="text" formControlName = "gender" id="gender">
                    <mat-hint>male,female and other</mat-hint>
                </mat-form-field>
                &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;
        <b>State : </b><mat-form-field appearance="fill">
                    <mat-label><b>State</b></mat-label>
                    <input matInput type="text" formControlName = "state" id="state">
                </mat-form-field><br>
        <b>District : </b><mat-form-field appearance="fill">
                    <mat-label><b>District</b></mat-label>
                    <input matInput type="text" formControlName = "district" id="district">
                </mat-form-field>
        <b>Marital status : </b><mat-form-field appearance="fill">
                    <mat-label><b>Maritalstatus</b></mat-label>
                    <input matInput type="text" formControlName = "maritalStatus" id="maritalStatus">
                </mat-form-field>
        <b>PAN card : </b><mat-form-field appearance="fill">
                    <mat-label><b>PAN</b></mat-label>
                    <input matInput type="text" formControlName = "PAN" id="PAN">
                </mat-form-field><br>
        <b>employement type : </b><mat-form-field appearance="fill">
                    <mat-label><b>employementtype</b></mat-label>
                    <input matInput type="text" formControlName = "employmentType" id="employmentType">
                </mat-form-field>
        <b>Highest Education : </b><mat-form-field appearance="fill">
                    <mat-label><b>Education</b></mat-label>
                    <input matInput type="text" formControlName = "highestEducation" id="highestEducation">
                    <mat-hint>ssc,intermediate,graduate and Pg,illitarate</mat-hint>
                </mat-form-field>

        <li><h3><b>Family details</b></h3></li>
        <mat-divider></mat-divider>
        <br>
        <b>Mothername : </b><mat-form-field appearance="fill">
                        <mat-label><b>Mothername</b></mat-label>
                        <input matInput type="text" formControlName = "mothersName" id="mothersName">
                    </mat-form-field>
        <b>Fathername : </b><mat-form-field appearance="fill">
                        <mat-label><b>Fathername</b></mat-label>
                        <input matInput type="text" formControlName = "fathersName" id="fathersName">
                    </mat-form-field>
        <li><h3><b>adress details</b></h3></li>
        <mat-divider></mat-divider>
        <br>
        <div>
        <b>house number : </b><mat-form-field appearance="fill">
                        <mat-label><b>houseno</b></mat-label>
                        <input matInput type="text" formControlName = "houseNo" id="houseNo">
                    </mat-form-field>
        <b>Street : </b><mat-form-field appearance="fill">
                        <mat-label><b>Street</b></mat-label>
                        <input matInput type="text" formCont
                        rolName = "streetName" id="streetName">
                    </mat-form-field>
        <b>City : </b><mat-form-field appearance="fill">
                        <mat-label><b>City</b></mat-label>
                        <input matInput type="text" formControlName = "city" id="city">
                    </mat-form-field><br>
        <b>State : </b><mat-form-field appearance="fill">
                        <mat-label><b>State</b></mat-label>
                        <input matInput type="text" formControlName = "state1" id="state1">
                    </mat-form-field>
        <b>District : </b><mat-form-field appearance="fill">
                        <mat-label><b>District</b></mat-label>
                        <input matInput type="text" formControlName = "district1" id="district1">
                    </mat-form-field>
        <b>Pincode : </b><mat-form-field appearance="fill">
                        <mat-label><b>Pincode</b></mat-label>
                        <input matInput type="text" formControlName = "PINCode" id="PINCode">
                    </mat-form-field><br>
        <b>Telephone Number : </b><mat-form-field appearance="fill">
                        <mat-label><b>TelephoneNumber</b></mat-label>
                        <input matInput type="text" formControlName = "telephoneNumber" id="telephoneNumber">
                    </mat-form-field>
        <b>email-id : </b><mat-form-field appearance="fill">
                        <mat-label><b>emailid</b></mat-label>
                        <input matInput [disabled]="isDisabled" type="email"  formControlName = "emailID" id="emailID">
                    </mat-form-field>
        </div>
        <li><h3><b>reference details</b></h3></li>
        <mat-divider></mat-divider>
        <br>
        <div>
        <b>Reference Name : </b><mat-form-field appearance="fill">
                <mat-label><b>ReferenceName</b></mat-label>
                <input matInput type="text" formControlName = "referenceName" id="referenceName">
            </mat-form-field>
        <b>Adress : </b><mat-form-field appearance="fill">
                <mat-label><b>Adress</b></mat-label>
                <input matInput type="text" formControlName = "address" id="address">
            </mat-form-field>
        <b>Telephone Number : </b><mat-form-field appearance="fill">
                <mat-label><b>TelephoneNumber</b></mat-label>
                <input matInput type="text" formControlName = "RtelephoneNumber" id="RtelephoneNumber">
            </mat-form-field>
        <b>upload photo : </b><button mat-mini-fab color="primary" class="upload-btn"><mat-icon>attach_file</mat-icon>
          </button>
        </div>
    </form>
    </ul>
</div>
<button type="button" (click)="submitApplication()" class="btn btn-primary" id="subbutton">submit application</button><br><br>