#applicationform{
    align-content: center;
    width: 1400px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 30px;
}
#mainhead{
    text-align: center;
    font-size: 27px;
    text-decoration: underline;
}
#subbutton{
    float: right;
    margin-right: 6%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-form-field{
    padding-right: 10%;
  }
  h3{
    font-size: 18px;
    text-decoration: underline;
    color:steelblue
}