#login{
    text-align: center;
}
nav{
    background: rgb(11, 11, 11);
    width: auto;
    height: 75px;
    position: relative;
    text-align:start;
    color: white;
}
body{
    background-image: linear-gradient(orange,white,green)
}
small{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
#dont{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}