<nav class="navbar navbar-dark" id="header"><br>
  <b><span style="font-size: 4rem;color: rgb(84, 29, 224);">XYZ</span><span style="font-size: 2.7rem;color: rgb(226, 173, 67);">passport</span></b>
</nav>
  <div id="login">
      <br>
      <br>
      <h1><b>𝓾𝓼𝓮𝓻 𝓵𝓸𝓰𝓲𝓷</b></h1>
      <form [formGroup]="loginForm">
          <mat-form-field appearance="fill">
              <mat-label><b>email</b></mat-label>
                <input matInput
                        type="text"
                        formControlName = "email">
          </mat-form-field><small>{{NameError()}}</small>
      <br>
      <mat-form-field appearance="fill">
        <mat-label><b>password</b></mat-label>
          <input matInput
                  type="password"
                  formControlName = "password">
        </mat-form-field><small>{{PasswordError()}}</small>
        <br>
        <button mat-raised-button (click)="login()" color="primary">login</button>
        <br><small id="dont">you don't have account</small>
        <button mat-button color="primary"><a routerLink="/register">Register now</a></button>
  </form>
  </div>